.service-title {
  padding-top: 50px;
}

.service-information {
  color: white;
  font-size: 1rem;
  text-align: center;
}

p {
  font-weight: 400;
}

h3 {
  font-weight: 900;
}

h5 {
  font-weight: bold;
}
