.section-about-us {
  background-color: #373e98;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 100%;
}

.top-title {
  margin-top: 50px;
}

.about-us-intro {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0px 90px 0px 0px;
}

.about-us-full {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0px 90px 0px 0px;
}

.profile-title .profile-text {
  color: rgb(0, 0, 0);
}

.profile-title {
  margin-top: 20px;
}

.profile-text p {
  font-weight: 400;
}

.profile-picture {
  border-radius: 10px;
  height: 70%;
  width: 80%;
}

.left-column-profile {
  margin-bottom: 50px;
}

.contact-text {
  margin-left: 40px;
  font-size: 1.5rem;
}

#landing-page-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

#about-us-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-top: 60px;
  margin-right: 100px;
}

#our-services-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

#our-team-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 70px;
  margin-top: 50px;
}

#sarah-profile-picture {
  margin-top: 65px;
}

#contact-us-title {
  margin-top: -50px !important;
  font-weight: 900;
  font-size: 70px;
}
