.section-about-us {
  background-color: #373e98;
}

.description {
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 100%;
}

.top-title {
  margin-top: 50px;
}

.about-us-intro {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0px 90px 0px 0px;
}

.about-us-full {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 0px 90px 0px 0px;
}

.profile-title .profile-text {
  color: rgb(0, 0, 0);
}

.profile-title {
  margin-top: 20px;
}

.profile-text p {
  font-weight: 400;
}

.profile-picture {
  border-radius: 10px;
  height: 70%;
  width: 80%;
}

.left-column-profile {
  margin-bottom: 50px;
}

.contact-text {
  margin-left: 40px;
  font-size: 1.5rem;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.vet-link {
  color: black !important;
  font-weight: bold;
  font-size: 1rem;
}

#landing-page-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

#about-us-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
  margin-top: 60px;
  margin-right: 100px;
}

#our-services-title {
  font-weight: 900;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

#our-team-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 70px;
  margin-top: 50px;
}

#sarah-profile-picture {
  margin-top: 65px;
}

#contact-us-title {
  margin-top: -50px !important;
  font-weight: 900;
  font-size: 70px;
}

#vet-menu {
  font-size: 1rem;
  font-weight: bold;
}

#jeremy-profile-button {
  color: orange;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 20px;
  }
  .about-us-intro,
  .about-us-full {
    font-size: 16px;
    padding: 0px 30px;
  }
  .profile-title {
    margin-top: 10px;
  }
  .profile-text p {
    font-size: 14px;
  }
  .profile-picture {
    height: 50%;
    width: 70%;
  }
  .contact-text {
    margin-left: 20px;
    font-size: 1rem;
  }
  #landing-page-title,
  #our-services-title,
  #our-team-title,
  #contact-us-title {
    font-size: 50px;
    margin-top: 40px;
    margin-right: 0px;
  }

  .top-title {
    margin-top: 0px;
  }

  .section-story-overview .image-container.image-left {
    z-index: 1;
  }

  #about-us-title {
    font-size: 50px;
    margin-top: 40px;
    margin-right: 0px;
  }

  #about-us {
    margin-top: 0px !important;
  }

  .section-story-overview .image-container.image-left {
    z-index: 1;
    margin-bottom: 0px;
  }

  .section-story-overview {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .about-us-intro {
    margin-bottom: 20px;
  }

  .about-us-full {
    margin-top: 30px;
  }

  .profile-text {
    margin-bottom: 30px;
  }

  #our-services-section {
    padding-top: 1px;
    padding-bottom: 25px;
  }
}
