/* CSS for mobile menu */
.mobile-menu {
  display: none;
}

/* Show mobile menu only on mobile devices */
@media (max-width: 991px) {
  .mobile-menu {
    display: block;
    font-size: 0.7rem;
    flex-basis: auto; /* Change from 'flex' to 'flex-basis' and set it to 'auto' */
    text-align: center; /* Add text alignment */
    padding-right: 0;
    padding-left: 0;
  }

  .navbar {
    justify-content: center;
    display: flex;
  }

  .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  #vet-menu {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-dropdown {
    float: left;
    margin-right: 10px;
  }

  .navbar-translate {
    display: none;
  }
}
